Assignment

In [2]:
n=0
print('n=',n)
n=n+1
n+=1
print('n=',n)
n,m=0,8
print(n,m)
n=n+3
n ='abc'
print(n)
n=None 
print(n)

n= 0
n= 2
0 8
abc
None

Curly Braces

In [3]:
n=1
if n>2:
  n-=1
elif n==2:
  n*=2
else:
  n+=2
print(n)

3

multiline condition

In [5]:
n, m = 1, 2
if ((n > 2 and 
    n != m) or n == m):
    n += 1
print(n)

1

Looping

In [6]:
n=0
while n<5:
  print(n)
  n+=1

0
1
2
3
4

In [8]:
for i in range(0,5):
  print(i)

0
1
2
3
4

In [12]:
for n in range(0,5,2):
  print(n)
for i in range(5,2,-1):
  print(i)

0
2
4
5
4
3

In [23]:
# Mathematics
# Decimal 
print(5/2)
# Integer - rounds down
print(5//2)
# remainder
print(5%2)
print(-5/2)
print(-3/2)
import math 
print(math.sqrt(16))
print(math.ceil(5/2))
print(math.floor(5/2))
if 100 > float("inf"):
  print("Hey")
else:
  print("Bye")

2.5
2
1
-2.5
-1.5
4.0
3
2
Bye

LISTS :
Can be used as a stack with two operations - push and pop


*   Push --> append(value) , insert(psoition, value) 
*   Pop -->  remove(value) , pop(position)
*   These are O(n) time complexities 
*   While --> arr[0]=1 : O(1) time complexity

In [5]:
lst=[1,2,3]
print(lst)

# Are dynamic hence can be used as stack so we can push and pop elements out of the list
lst.append(4)
lst.append(5)
print(lst)
lst.pop()
print(lst)
# we can pop - index
lst.pop(1)
print(lst)
# we can remove - value 
lst.remove(1)
print(lst)
# insert a value at a specific position
lst.insert(0,7)
print(lst)

[1, 2, 3]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 3, 4]
[3, 4]
[7, 3, 4]

Print an array with 1, 5 times

In [6]:
n=5
arr=[1]*n
print(arr)

[1, 1, 1, 1, 1]

Sublists / Slicing and Unpacking in Python

In [8]:
arr=[1,2,3,4,5]
print(arr[1:3])

# Unpacking 
a,b,c=[4,7,9]
print(b)

[2, 3]
7

Looping through the arrays 


*   With Index : range
*   Without Index : in
*   Both : enumerate

In [9]:
# With index 
arr=[1,2,3,4,5]
for i in range(len(arr)):
  print(arr[i])
for i in arr:
  print(i)
for i,n in enumerate(arr):
  print(i,n)

1
2
3
4
5
1
2
3
4
5
0 1
1 2
2 3
3 4
4 5

Zip function as pairs from rwo lists

In [12]:
# Multiple arays 
lst1=[1,2,3]
lst2=[4,5,6]
for n1, n2 in zip(lst1,lst2):
  print(n1,n2)

1 4
2 5
3 6

Reverse

In [14]:
lst=[1,2,3]
lst.reverse()
print(lst)

[3, 2, 1]

Sort- default by ascending order else - false

In [18]:
lst=[10,3,4,77,9]
lst.sort()
print(lst)
lst.sort(reverse=True)

[3, 4, 9, 10, 77]
['bob', 'alice', 'jane', 'doe']

In [20]:
# Using the key value - lamda function
arr = ["bob", "alice", "jane", "doe"]
arr.sort(key=lambda x: len(x))
print(arr)

['bob', 'alice', 'jane', 'doe']
['bob', 'doe', 'jane', 'alice']